extends layout

block content
  h1= title
  p Welcome to #{title} Server : 
  p Node Server : v21.5.0
  p Devloper : Yogesh Kumar Jha 

    section
      h2 About Us
      p We are a team dedicated to providing quality content and services.

    section
      h2 Contact Us
      
      label(for='email') e-Mail: developer4@Bizency.com

    footer
      p © 2024 Bizency. All rights reserved.